@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  background-color: #dfdfdf;
}

button {
  font: inherit;
  cursor: pointer;
  padding: 0.6rem 1.5rem;
  border-radius: 6px;
  background-color: transparent;
  color: #47717b;
  border: 1px solid #47717b;
}

button:hover,
button:active {
  background-color: #47717b;
  border-color: #47717b;
  color: white;
}
