.item {
  margin: 1rem 0;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 6px;
}

.item h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.25rem;
}

.item header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity {
  margin-left: 10px;
}

.quantity span {
  font-size: 1.5rem;
  font-weight: 400;
}

.price {
  font-size: 1.25rem;
  font-weight: bold;
}

.itemprice {
  font-size: 1rem;
  font-weight: 100;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0;
}

.actions button {
  background-color: transparent;
  border: 1px solid #47717b;
  margin-left: 0.5rem;
  padding: 0.15rem 1rem;
  color: #47717b;
}

.actions button:hover,
.actions button:active {
  background-color: #47717b;
  color: #ffffff;
}
